body {
    .fredoka-standard {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

    h1 {
        font-size: 5em;
        font-family: "Fredoka", sans-serif;
        margin: 0.67em 0;
        font-weight: 300;
        color: #FDB142;
    }

    h2 {
        font-family: "Fredoka", sans-serif;
        font-weight: 300;
        color: #FDB142;
    }

    h3 {
        font-family: "Fredoka", sans-serif;
        font-weight: 300;
        color: #FDB142;
    }

    p {
        font-family: "Fredoka", sans-serif;
        font-weight: 400;
        font-size: 1em;
    }

    select {
        font-family: "Fredoka", sans-serif;
        font-weight: 400;
    }

    label {
        font-family: "Fredoka", sans-serif;
    }

    .oils {
        font-family: "Fredoka", sans-serif;
        font-weight: 400;
        font-size: 0.5em;
    }

    div.containerweapon {
        background-color: #FDB142;
        border: 1px solid #FDB142;
    }

    button {
        font-family: "Fredoka", sans-serif;
        font-weight: 500;
        background-color: #FDB142;
        border: 1px solid #FDB142;
        width: 100%;
        height: 100px;
        color: black;
        border-radius: 5px;
    }

        button:hover {
            font-family: "Fredoka", sans-serif;
            font-weight: 500;
            background-color: #FDB142;
            border: 1px solid black;
            width: 100%;
            color: black;
        }

        button:active {
            font-family: "Fredoka", sans-serif;
            font-weight: 500;
            background-color: darkslategray;
            border: 1px solid black;
            width: 100%;
            color: black;
        }

.custom-select {
    position: relative;
    font-family: "Fredoka", sans-serif;
    text-align: left;
    background:#FDB142;
    border:1px solid #444;
    border-radius: 15px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

select.custom-dropdown {
    display:none;
}

.custom-select-selected {
    background:#1e1e1e;
    color:black;
    padding:10px;
    margin: 0.1em;
    border:1px solid #444;
    cursor:pointer;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#f0f0f0;
    z-index: 5;
}

.custom-arrow {
    font-size: 1.5em;
    margin: -10px;
    margin-right: 0px;
    transition:transform .1s ease;
}

.custom-select.open .custom-arrow {
    transform:translate(0px, 20px);
    z-index:1001;
}

.custom-select-panel {
    display:none;
    position:absolute;
    width:95.5%;
    background:#1b1b1b;
    border:1px solid #444;
    z-index:1000;
}

.custom-select.open .custom-select-panel {
    display:block;
    background:#1b1b1b;
}

.custom-select-search {
    width:95%;
    padding:8px;
    margin-bottom: 10px;
    background:#f0f0f0;
    color:white;
    border:none;
    outline:none;
}

.custom-select-menu {
    list-style:none;
    margin:0;
    padding:0;
    max-height:320px;
    overflow-y:auto;
    text-align: left;
}

.custom-option {
    padding:8px 10px;
    cursor:pointer;
    color:#ddd;
}

.custom-option.active,
.custom-option:hover {
    background:#333;
}

.custom-group {
    padding:6px 10px;
    font-size:12px;
    color:#888;
    background:#111;
    text-transform:uppercase;
}

mark {
    background:#555;
    color:white;
}

.custom-select:hover .custom-select-selected {
    background: #ffffff;
    border-color: #666;
    color: #2D424B;
    text-shadow: 2px 2px #bbbbbb;
    box-shadow: inset 2px 2px #bbbbbb;
}


.custom-select-selected {
    transition: background 0.15s ease,
                border-color 0.15s ease,
                box-shadow 0.15s ease,
                text-shadow 0.15s ease,
                color 0.15s ease;
}

#oils1selector {
     anchor-name: --anchoroil1;
}

#width-grid {
     grid-column: 1 / -1;
}

}
