body {
    .fredoka-standard {
        font-family: "Fredoka", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings: "wdth" 100;
    }

    h1 {
        font-size: 5em;
        font-family: "Fredoka", sans-serif;
        margin: 0.67em 0;
        font-weight: 300;
        color: #FDB142;
    }

    h2 {
        font-family: "Fredoka", sans-serif;
        font-weight: 300;
        color: #FDB142;
    }

    h3 {
        font-family: "Fredoka", sans-serif;
        font-weight: 300;
        color: #FDB142;
    }

    p {
        font-family: "Fredoka", sans-serif;
        font-weight: 400;
        font-size: 1em;
    }

    select {
        font-family: "Fredoka", sans-serif;
        font-weight: 400;
    }

    label {
        font-family: "Fredoka", sans-serif;
    }

    .oils {
        font-family: "Fredoka", sans-serif;
        font-weight: 400;
        font-size: 0.5em;
    }
}
